@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

body{
    margin:0;
    padding:0;
    background-color:#292929;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.action-container {
    display: none;
}

#users-online {
    background-color: rgb(43, 40, 40);
    padding: 10px;
    margin-top: 20px;
}

#users-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
    grid-gap: 8px;
    padding: 10px;
}

.users-online-heading {
    color: #e7e3e3;
    text-transform: capitalize;
}

.user {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    background-color: #f58888;
    color: #f3f3f3;
    padding: 5px 0;
}

.playing-container {
    display: flex;
    flex-direction: column;    
    color: #e7e3e3;
    text-transform: capitalize; 
    margin-top: 20px;   
    padding: 10px;
}

#winner-container {        
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#winner-name {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    color: darkslategrey;
}

.time-counter {
    font-size: 100px;
    color: rgb(209, 127, 127);
    text-align: center;
}
